*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
}

.app form{
  padding:  1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
}

.app form input{
  margin: 1rem;
}

input[type="text"]{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  width: 300px;
}

input[type="submit"]{
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius:5px;
  font-size: 17px;
}